body {
  font-family: "Open Sans", sans-serif;
  color: black;
  max-width: 100vw;
  overflow-x: hidden;
}

:root {
  --soft-gray: #fafafa;
  --bg-gray: rgb(242, 242, 242);
  --gray: rgb(191, 191, 191);
  --darker-gray: rgb(127, 127, 127);
  --font-size-ten: 0.833rem;
  --font-size-eleven: 0.917rem;
  --font-size-twelve: 1rem;
  --font-size-eight: 0.667rem;
  --font-size-seven: 0.583rem;
  --font-size-fourteen: 1.167rem;
  --font-size-24: 1.5rem;
  --font-size-10: 0.625;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-10: 0.625rem;
  --green-color: #76cc11;
}
p {
  margin-bottom: 0;
}
/* setting  */
ul,
ol,
menu,
dir {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.card-description ul {
  padding-left: 0rem;
  list-style-position: disc outside !important;
  margin: 0 0 0 1.8em !important;
  word-break: break-word;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  color: #000000;
}

.card-description ul {
  padding-left: 0rem;
  list-style-position: disc outside !important;
  margin: 0 0 0 1.8em !important;
}
.card-description ol {
  padding-left: 0rem;
  list-style-position: disc outside !important;
  margin: 0 0 0 1.8em !important;
}
.list ul {
  padding-left: 0rem;
  list-style-position: disc outside !important;
  margin: 0 0 0 1.8em !important;
  word-break: break-word;
}
.list ol {
  padding-left: 0rem;
  list-style-position: disc outside !important;
  margin: 0 0 0 1.7em !important;
  word-break: break-word;
}
/* ----------------------- */
/*  Reusable  */
/* ----------------------- */
.margin-top1 {
  margin-top: 1px !important;
}
.margin-top2 {
  margin-top: 2px !important;
}
.margin-top3 {
  margin-top: 3px !important;
}
.margin-left1 {
  margin-left: 1px;
}
.margin-top8 {
  margin-top: 8px !important;
}
.mt-25 {
  margin-top: 25px;
}
textarea#message,
textarea#messageBuyMeCoffe,
textarea#messageCard,
#yt-link {
  height: auto;
  min-height: 40px !important;
}
.arrow-icon.rotate {
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
}
#message-counter,
#message-counter__BuyMeCoffe,
#message-counter__Card {
  min-width: 55px;
  text-align: right;
}
.donateModal .modal-dialog .modal-body {
  padding: 0px 12px !important;
}
.gray-border {
  border: 1px solid #b8b8b8;
}

.gray-bg {
  background: #f5f5f5 !important;
}

.padding-1 {
  padding: 20px 28px;
}

.padding-2 {
  padding: 9px 14px;
}

.padding-3 {
  padding: 16px 18px;
}

.radius-15 {
  border-radius: 15px;
}

.line-h-17 {
  line-height: 1.7;
}

.line-h-15 {
  line-height: 1.5;
}

.mb-45 {
  margin-bottom: 45px;
}
/* .margin-auto-custom {
  margin: auto;
} */
.mt-40 {
  margin-top: 40px;
}
.mb-27 {
  margin-bottom: 27px;
}
.title-tribe.mb-21 {
  margin-bottom: 21px !important;
}
.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-6 {
  margin-top: 6px !important;
}
.mr-6 {
  margin-right: 6px;
}
.mr-7 {
  margin-right: 7px;
}
.mt-9 {
  margin-top: 9px;
}
.mt-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}

.mt-11 {
  margin-top: 11px;
}

.mr-12 {
  margin-right: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-17 {
  margin-top: 17px !important;
}

.mt-24 {
  margin-top: 24px;
}

.gray-text {
  color: #606060;
}
/* .grid-item {
  width: 320px;
} */
.grid {
  width: 100% !important;
}
.grid-item {
  width: calc(50% - 40px);
}

.font-size-12 {
  font-size: 0.75rem;
}

.font-size-14 {
  font-size: 0.875rem;
}

.letter-space-minus {
  letter-spacing: -0.5px;
}

.grid-layout:after {
  content: "";
  display: block;
  clear: both;
}
.grid-item {
  float: left;
}
.mt-27 {
  margin-top: 27px;
}
.padding-column {
  /* padding: 0 !important; */
  margin: 19px 0;
}
.mt-customTop {
  margin-top: 25px !important;
}
/* .max-width__custom {
    max-width: 350px;
  } */

.container-layout {
  /* width: 88%; */
  /* padding-right: 25px;
    padding-left: 25px; */
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}
.container-big {
  /* width: 89.32%; */
  /* padding: 0 20px; */
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.mb-custom__layout {
  margin-bottom: 20px !important;
}
.mb-custom__layout-tentang {
  margin-bottom: 13px;
}
.mt-custom__layout {
  margin-top: 20px !important;
}
.alert-report {
  background-color: #f6f6f6;
  word-break: break-word;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  font-weight: 400;
  border: 1px solid transparent !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  border-color: #a1a1a1 !important;
}
.link_anchor {
  color: #007aff !important;
  text-decoration: none;
}
.link_anchor:hover {
  text-decoration: underline;
}
/* ----------------------- */
/* card-support */
/* ----------------------- */

.title-tribe {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 140%;
  text-align: center;
  color: #000000;
  word-break: break-word;
  margin-bottom: 10.25px !important;
}
.min-vh-0 {
  min-height: 0vh !important;
}
.wrapper-iconCard {
  width: 18px;
  height: 18px;
}
/* .card-img{
    width: ;
  } */
.card-support {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border: 1px solid #b8b8b8 !important;
  -webkit-border-radius: 15px;
  overflow: hidden;
}
.row-custom {
  margin-top: 10.25px;
}

.text-red {
  color: #ff0000 !important;
}
.img-support {
  border-bottom: 1px solid #b8b8b8;
  /* object-fit: cover !important; */
  display: block;
  width: 100%;
  margin-top: -3px;
  max-width: 100%;
}
.card-body__padding {
  padding: 18px 18px 27px 18px !important;
}
.card-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  word-break: break-word;
  color: #000000;
  margin-bottom: 5px !important;
}

.card-currency {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  word-break: break-word;

  color: #000000;
}

.benefit {
  font-size: 14px;
}
.card-benefits {
  margin-top: 14px !important;
}
.text-benefit {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  margin-top: 1px !important;

  word-break: break-word;

  color: #000000;
}
.img-benefit {
  margin-left: 1px;
}
.img-news {
  margin-left: 1px;
}
.img-exlamation {
  height: 18px;
  width: 16px;
  margin-top: 1px !important;
  margin-left: 2px;
}
.show-details {
  color: #76cc11 !important;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  line-height: 16.8px;
  margin-top: 5px;
  word-break: break-word;
  text-decoration: none !important;
}
.show-details:hover {
  color: #6fbb18 !important;
}

.card-description {
  margin-top: 13px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.text-description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* or 22px */

  color: #000000;
}
.button-card:disabled {
  background: #cecece;
  border-radius: 25px;
  color: white;
  border: none;
  cursor: not-allowed;
  word-break: break-word;
}
.button-card:disabled,
.button-card:disabled:hover,
.button-card:disabled:active,
.button-card:disabled:hover:active {
  background: #cecece !important;
  border-radius: 25px !important;
  color: white !important;
  border: 1px #cecece !important;
  -webkit-border-radius: #cecece;
  -moz-border-radius: #cecece;
  -ms-border-radius: #cecece;
  -o-border-radius: #cecece;
  cursor: not-allowed;
  word-break: break-word;
}
/* li {
    white-space: nowrap !important;
  } */

/* card tab */
.wrapper-tabContent {
  margin-top: 31px !important;
}

.m-41 {
  margin-top: 41px !important;
  margin-bottom: 41px !important;
}

.ellipsis-text {
  display: -webkit-box !important;

  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  -ms-text-overflow: ellipsis;
  -webkit-box-pack: end;
  max-height: 43px;
  line-break: after-white-space;
}
/* .show {
    margin-top: 5px;
  } */

.button-card {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  /*or19px*/
  text-align: center;
  color: #76cc11;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #76cc11;
  border-radius: 25px;
  width: 100%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 10px;
  min-height: 45px;
  margin-top: 15px;
  word-break: break-word;
}
.button-card:hover {
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #76cc11 !important;
  border: 1px solid #76cc11;
}

.mb-6 {
  margin-bottom: 6px;
}

.border-bottomCustom {
  border-bottom: 1px solid #d7d7d7;
}
.btn-seeMore {
  background: #ffffff;
  border: 1px solid #76cc11;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: var(--green-color);
  padding: 11px 18px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  word-break: break-word;
}
.btn-seeMore:hover {
  background: var(--green-color);
  border: 1px solid #76cc11;

  color: white;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 none;
}

a:focus,
a:active {
  background: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
  outline: none;
}

p {
  overflow-wrap: break-word !important;
  word-wrap: break-word;
}

input {
  color: black !important;
}

button,
label,
p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word;
  word-break: break-word;
}

button {
  word-break: break-all;
}

/* ------------------------- */
/* Reuseable Style */
/* ------------------------- */
/* custom padding icon actions */
/* content section */
.p-bottom {
  padding-bottom: 20px;
}

.m-rl {
  margin: 0 20px;
}

.m-top {
  margin-top: 20px;
}
.m-bottom {
  margin-bottom: 20px;
}
.bg-custom-success {
  background-color: #76cc11 !important;
  font-weight: 800;
  word-break: break-word;
}
.bg-custom-success:hover {
  background-color: #6fbb18 !important;
}
.mb-39 {
  margin-bottom: 39px !important;
}

.form-group button.bg-custom-success {
  min-height: 45px !important;
  /* max-height: 200px; */
  /* border-radius: 100px; */
  word-break: break-word;
}
.nav-gettarget {
  word-break: break-word;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}
.btnCustom__rounded {
  border-radius: 22px !important;
  -webkit-border-radius: 22px !important;
  -moz-border-radius: 22px !important;
  -ms-border-radius: 22px !important;
  -o-border-radius: 22px !important;
  word-break: break-word;
}
.text-mutedCustom {
  font-size: 12px;
  color: #8b8b8b !important;
  margin-top: 6px;
}

.mr-3px {
  margin-right: 3px;
}
.mb-2px {
  margin-bottom: 2px;
}
.ml-19 {
  position: relative;
  left: 19px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-18 {
  margin-top: 18px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-ellipsisCover {
  margin-bottom: 15px;
}

.wrapper-card-icons {
  height: 38px !important;
  max-height: 38px !important;
  min-height: 38px !important;
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.wrapper-card-icons.card:hover {
  cursor: pointer;
  border: 1px solid #76cc11 !important;
}
.icons__color {
  color: #838485 !important;
}
.mr-22 {
  margin-right: 22px;
}
.row-icons {
  gap: 10px 0px !important;
}

.line-pagination {
  height: 36px;
  width: 50% !important;

  font-weight: 700;
  background-color: #76cc11;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  margin-bottom: -1px;
  -o-border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.pagination-ellipsis {
  max-width: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.text-blackcustom {
  color: rgb(0, 0, 0);
}
.font-size-actions {
  font-size: 1.1rem !important;
}

.card-icon:hover {
  cursor: pointer;
}
.font-weight-600 {
  font-weight: 600 !important;
}
/* custom design */
/* custom background */
.bg-light-success {
  background: #dffbdf !important;
  font-family: Open Sans;
  color: #76cc11;
}

.modal-body .bg-hover:focus,
.modal-body .bg-hover:active,
.modal-body .bg-hover:hover {
  background-color: #6fbb18 !important;
}
.exclusive-content__desc {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  margin-top: 4px;
  color: #000000;
  margin-bottom: 2px;
}
.wrapper-exclusive__total {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
  margin-top: 9px;

  color: #000000;
}
.marginTop-3 {
  margin-top: 3px;
}
.show-details__popup {
  color: #76cc11 !important;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  line-height: 16.8px;
  position: relative;
  top: -3px;
}
/* checkbox */
.access {
  font-weight: 800;
  margin-bottom: 15px;
  word-break: break-word;
}
/* The container */

.pl-35 {
  padding-left: 35px;
}
.mb-13 {
  margin-bottom: 13px !important;
}

.fontSize16 {
  font-size: 16px;
}
.ml-10 {
  margin-left: 10px !important;
}
.mb-1-5 {
  margin-bottom: 0.4rem;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mt-30 {
  margin-top: 30px;
}
.mt-12 {
  margin-top: 12px;
}
/* custom container */
.custom-container {
  max-width: 1170px;
  margin: 0 auto;
}

/* -------------------------*/
/* content  */
/* -------------------------*/

/* ----------------------- */
/* Icon Hover Effects */
/* ----------------------- */
input[type="search"]::-webkit-search-cancel-button:hover {
  cursor: pointer;
}

/* fixed card width */
.support-option-card-list .card {
  width: 320px;
}

.support-option-card-list .card .card-img-top {
  height: auto;
  border-radius: 18px 18px 0 0;
}

/* --------------------- */
/* support page */
/* --------------------- */
.supporter-img {
  width: 80px;
}

.collapse-text::after {
  content: "\f107";
  color: #7dcb22;
  font-size: inherit !important;

  font-family: "FontAwesome";
}
.collapse-text:hover {
  cursor: pointer;
}

.collapse-text[aria-expanded="true"]::after {
  content: "\f106";
  font-family: "FontAwesome";
  font-size: inherit !important;
}

/* --------------------- */
/* Content   */
/* --------------------- */

/* --------------------- */
/* paragraph */
/* --------------------- */

input[type="text"] {
  position: relative;
}
input::-webkit-input-placeholder {
  /* padding-left: 20px; */
  text-transform: capitalize !important;
}

/* input {
    -webkit-appearance: searchfield;
  }
  *::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  } */

input::-webkit-input-placeholder {
  text-transform: lowercase;
  color: #7f7f7f !important;
  font-size: 1.1rem !important;
}
/* input[type="search"] {
        font-family: FontAwesome !important;
      } */

/* end form */
/* delete box shadow defautl boostrap */
.btn:focus,
.btn:active,
input:focus,
input:active,
.reset:focus,
.reset:active,
textarea:focus,
textarea:active {
  outline: none !important;
  box-shadow: none !important;
}

.line-height {
  line-height: 1.4;
}
.title-header {
  /* font-size: 1.25rem; */
  font-size: 22px;

  /* line-height: 1.28; */
  line-height: 1.25;
  display: block !important;
  word-break: break-word;
}

.ellipsis {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-pack: end;
}

.font-bold-custom {
  color: black !important;
  font-weight: 900;
}
.title-description {
  /* font-size: 0.825rem; */
  font-size: 16px;
  word-break: break-word;

  line-height: 1.5;
}
.text-gray-custom.font-size-10 svg {
  height: 22px !important;
  width: 20px;
  margin-left: 1px;
}
.mb-14px {
  margin-bottom: 14px;
}

/* end category */
/* custom */
.tanggal {
  display: block;
}
.row-tanggal {
  gap: 4px 0px;
}
.text-gray-custom {
  color: #838485 !important;
}

.font-size-10 {
  font-size: 14px !important;
  font-family: Open Sans;
}

.font-size-i {
  font-size: 14px !important;
  height: 16.203px !important;
  margin-right: 3px;
  color: #838485 !important;
}

/* end custom */
/* treat product image */

/*  */

/* -------------------------- */
/* Post details Page */
/* -------------------------- */
.post-navigator a {
  width: 48%;
}

.error-message {
  font-size: 12px;
  color: red;
  font-weight: 700;
}

.btn-rounded-custom {
  border-radius: 100px !important;
  font-family: Open Sans;
  font-weight: 800 !important;
  color: #fff !important;
}

.link-underline {
  text-decoration: underline !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #eeeed1;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #cdcdb4 transparent transparent transparent;
}
.lds-ring div.black {
  border-color: #2e2e2e transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.left-align {
  text-align: left !important;
}
.font-08-rem {
  font-size: 0.8rem !important;
}
.font-1-rem {
  font-size: 1rem !important;
}

/* -------------------------*/
/* voice note support page  */
/* -------------------------*/
.font-size-clickable {
  font-size: 10pt;
}
.icons-voice-note {
  color: #fff;
  width: 26px;
  height: 26px;
}
.custom-indent {
  text-indent: -1px;
}

.icon-play-indent {
  text-indent: 2px;
}

.text-custom {
  font-size: 10pt;
  letter-spacing: 0.28px;
}
p {
  margin-bottom: 0;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  box-shadow: none;
  outline: 0 none;
}

a:focus,
a:active {
  background: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;
  outline: none;
}

p {
  overflow-wrap: break-word !important;
  word-wrap: break-word;
}

input {
  color: black !important;
}

button,
label,
p,
a,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif !important;
  overflow-wrap: break-word !important;
  word-wrap: break-word;
  word-break: break-word;
}

button {
  word-break: break-all;
}

.tooltip {
  pointer-events: none;
}

@media (max-width: 370px) {
  .select2-dropdown.navbar-dropdown {
    right: 0;
    left: 0 !important;
    top: 0.5rem;
  }
}
.button {
  width: fit-content !important;
  font-size: 1rem;
  font-weight: 400 !important;
  padding: 7px 13px !important;
  cursor: pointer !important;
  word-break: break-all;
}
.d-flex {
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -moz-box;
  /* TWEENER - IE 10 */
  display: -ms-flexbox;
  /* NEW - Chrome */
  display: -webkit-flex;
  display: flex;
}

.bold {
  font-weight: bold;
}

.text-primary {
  color: var(--green-color) !important;
}

.green-text {
  color: #76cc11;
}

.red-text {
  color: #ff0000;
}

.gray-text {
  color: #959595;
}

.caption {
  font-size: 0.85rem;
  color: #000;
}
.text-btn {
  background: none;
  outline: none !important;
  border: none;
  padding: 0;
}
.twentyfivebold {
  font-size: 1.6rem !important;
  font-weight: 700;
}
.fourteenbold {
  font-size: 0.875rem !important;
  font-weight: 700;
}

.tenpx {
  font-size: 0.833rem;
}

.eightpx {
  font-size: var(--font-size-eight);
}

.twelvepx {
  font-size: var(--font-size-12);
}

.sixteenpx {
  font-size: var(--font-size-16);
}
.ninepx {
  font-size: 0.75rem;
}
.font-weight-light {
  font-weight: 400;
}
.font-weight-x-bold {
  font-weight: 800;
}
.font-weight-bold {
  font-weight: 700 !important;
}

.underline-btn {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}
.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.btn-rounded {
  border-radius: 2rem;
}
.btn-fill-light {
  background: rgb(223, 251, 223);
  border-radius: 30px;
  min-height: unset;
  padding: 12px 0.75rem;
  color: var(--green-color) !important;
  width: 100%;
}

.btn-fill-light:hover {
  color: #fff !important;
}
.btn-fill-light svg {
  margin-left: 0;
}
.btn-edit-sm {
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  font-size: 0.7rem;
  min-height: 1rem;
}
.btn-edit-sm:hover {
  color: #fff;
}
.btn.focus,
.btn:focus {
  outline: none;
  box-shadow: none;
}

.bg-dark {
  background-color: #262626 !important;
}

.form-control {
  border-radius: 6px !important;
  height: 40px;
  border-color: #b8b8b8;
}

.form-control:focus {
  border-color: var(--green-color) !important;
}

/* 
  main {
    max-width: 700px;
    margin: 36px auto;
    padding: 0 20px;
    margin-bottom: 5rem;
  } */

.hide {
  display: none !important;
}

.gray-border {
  border: 1px solid #b8b8b8;
}

.gray-bg {
  background: #f5f5f5 !important;
}

.padding-1 {
  padding: 20px 28px;
}

.padding-2 {
  padding: 9px 14px;
}

.padding-3 {
  padding: 16px 18px;
}

.radius-15 {
  border-radius: 15px;
}

.line-h-17 {
  line-height: 1.7;
}

.line-h-15 {
  line-height: 1.5;
}

.mb-45 {
  margin-bottom: 45px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-6 {
  margin-top: 6px !important;
}

.mt-9 {
  margin-top: 9px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-11 {
  margin-top: 11px;
}

.mr-12 {
  margin-right: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-24 {
  margin-top: 24px;
}
.mb-20 {
  margin-bottom: 20px;
}
.gray-text {
  color: #606060;
}
.mb-16 {
  margin-bottom: 16px !important;
}

.font-size-12 {
  font-size: 0.75rem;
}

.font-size-14 {
  font-size: 0.875rem;
}

.letter-space-minus {
  letter-spacing: -0.5px;
}

.button-outline {
  border: 1px solid #76cc11;
  color: #76cc11;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 23px;
  width: 100%;
  padding: 12px 20px;
  padding-bottom: 14px;
  line-height: 1.2;
  background: none;
}

.button-fill {
  border: none;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 23px;
  width: 100%;
  padding: 12px 20px;

  line-height: 1.2;
  background: #76cc11;
  min-height: 47px;
}

.button-fill:hover {
  background-color: #68b610;
}

.button-outline:hover {
  background-color: #76cc11;
  color: white;
}

@media (max-width: 600px) {
  .padding-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .icons-wrapper .grid-items {
    width: 50%;
  }

  #thumbnail-icon-modal .icons-wrapper {
    max-height: 350px;
  }

  .donateModal .modal-bodyCustomChooseCusttom {
    padding: 0 4px !important;
  }
}

/* ----------------------- */
/*  Media queries  */
/* ----------------------- */

/* potrait */
@media only screen and (min-device-width: 412px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .content-img-width {
    min-width: 32% !important;
  }
  .text-gray-custom.font-size-10 svg {
    margin-left: 1px;
  }
}
/* Iphone 5 */
/* potrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .grid-item {
    width: calc(50% - 40px);
  }
}
/* landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container-big {
    width: 100%;
    /* max-width: 540px; */
    /* padding: 0 25px !important; */
  }
  .text-gray-custom.font-size-10 svg {
    margin-bottom: 2px;
  }
  .modal-dialog.modal-sm {
    width: 60% !important;
    max-width: 80% !important;
  }
  .grid-item {
    width: calc(50% - 40px);
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  .text-gray-custom.font-size-10 svg {
    height: 22px !important;
    width: 18px;
  }
  .modal-dialog.modal-sm {
    width: 80% !important;
    max-width: 80% !important;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .text-gray-custom.font-size-10 svg {
    height: 22px !important;
  }
  .modal-dialog.modal-sm {
    width: 40% !important;
    max-width: 40% !important;
  }
  .grid-item {
    width: calc(50% - 40px);
  }
}
/* ----------- iPhone XR ----------- */
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .font-size-i {
    font-size: 14px !important;
  }
  .font-size-10 {
    font-size: 14px !important;
  }
  .iconHeartClick {
    font-size: 14px !important;
  }
  .text-gray-custom.font-size-10 svg {
    height: 22px !important;
    width: 17px !important;
    padding-bottom: 0px !important;
  }
  .font-size-i,
  .font-size-10 {
    font-size: 14px !important;
  }
  .modal-dialog.modal-sm {
    width: 50% !important;
    max-width: 50% !important;
  }
}
/* end landscape */
@media (max-width: 320px) {
  .grid-item {
    width: 100% !important;
  }
}
@media (max-width: 499px) {
  .tanggal {
    width: 100%;
    margin-bottom: 5px;
  }
  .mr-22 {
    margin-right: 5px;
  }
}
@media (min-width: 500px) {
  .mr-22 {
    margin-right: 22px;
  }
}
@media (max-width: 450px) {
  .grid-item {
    width: 100%;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* end */
@media (min-width: 768px) {
  .grid-item {
    width: calc(50% - 40px);
  }
  .grid {
    width: calc(100% + 40px) !important;
  }
  .collapse-text {
    color: #76cc11;
    font-size: 1rem !important;
    display: inline !important;
  }
  .FSize {
    font-size: 1rem !important;
  }

  .see-all a:hover {
    color: #6fbb18 !important;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
  }
  a.show-details__popup:hover {
    color: #6fbb18 !important;
  }
}
@media (min-width: 744px) and (max-width: 750px) {
  #unlockModal .container {
    max-width: 650px;
  }
}
@media (min-width: 768px) and (max-width: 1190px) {
  .borkmark {
    margin-top: 0px;
  }
}

@media (max-width: 786px) {
  .card-icon {
    margin-top: 2px !important;
  }
}
@media (min-width: 800px) and (max-width: 1300px) {
}
@media (min-width: 1000px) and (max-width: 1199px) {
  /* .title-header {
      font-size: 1.8rem !important;
      line-height: 1.4;
    } */
  .font-size-10 {
    font-size: 14px !important;
    font-family: Open Sans;
  }
  .font-size-i {
    font-size: 14px !important;
    height: 16.203px !important;
    margin-right: 3px;
    color: #838485 !important;
  }
}
@media (min-width: 1036px) and (max-width: 1038px) {
  /* .title-header {
      font-size: 2.2rem !important;
      line-height: 1.4;
    } */
  .h2,
  h2 {
    font-size: 2.8rem;
  }
}
@media (max-width: 992px) {
  .post-navigator a {
    width: 100%;
    margin-bottom: 15px;
  }
  .button-padding {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

@media (min-width: 1200px) {
  .container-card {
    max-width: 1140px;
  }
  .container-big {
    /* padding: 0 15px !important; */
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px !important;
  }
  .grid-item {
    width: 340px;
  }
  .title-description {
    /* font-size: 1rem; */
    font-size: 16px;
    line-height: 1.6;
  }
  .text-gray-custom.font-size-10 svg {
    height: 22px !important;
    width: 20px;
    padding-bottom: 0;
    margin-left: 1.5px;
  }
  /* .title-header {
      line-height: 1.3;
      font-size: 1.6rem;
    } */
  /* .ellipsis-cover {
      margin-bottom: 29px;
    } */
  .title-header-cover {
    font-size: 40px;
    line-height: 54.47px;
    letter-spacing: -1px;
  }
}

/* Note the `max-device-width` */
@media (max-width: 320px) {
  .select2-container .select2-dropdown.navbar-dropdown {
    right: 0;
    left: -72px !important;
    top: 0.5rem;
  }
  .padding-column {
    /* padding: 0 !important; */
    margin: 15px 0;
  }
  .wrapper-img-payment {
    margin-top: 26px;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .select2-dropdown.myFont {
    min-width: 281.594px !important;
  }
  img.img__size {
    max-width: 100%;
    height: 100%;
  }
  #replyModal .modal-content {
    width: 80% !important;
  }
}
@media (max-width: 400px) {
  .nav-item {
    position: static;
  }

  .dropdown-menu {
    right: 1rem;
    top: auto;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0;
  }

  .dropdown-menu.notification {
    width: 80%;
  }

  .select2-dropdown.navbar-dropdown {
    min-width: 200px;
    top: 0.5rem;
  }
}

@media (max-width: 600px) {
  .padding-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .icons-wrapper .flex-items {
    width: 50%;
  }

  #thumbnail-icon-modal .icons-wrapper {
    max-height: 350px;
  }

  .donateModal .modal-dialog .modal-body {
    padding: 0 4px !important;
  }
}
@media (max-width: 767.98px) {
  /* .grid {
      display: grid;
      grid-template-rows: 1fr;
    } */

  .grid-layout .grid-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .container-layout {
    /* width: 88% !important; */
    padding: 0 20px;
  }
  .container-big {
    /* padding: 0 20px; */
  }
  .mb-cu .navbar-expand-md .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }
}
@media only screen and (max-device-width: 768px) {
  body.template4reviews .reviews-section .card {
    width: 90%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .modal-dialogReply.modal-dialog {
    width: auto !important;
  }
}
@media (min-width: 577px) {
  .container-layout {
    max-width: 540px;
    padding: 0 25px;
    /* margin-bottom: 5rem; */
  }
  .container-big {
    width: 100%;
    /* max-width: 650px; */
    padding: 0px !important;
  }
  .padding-column {
    /* padding: 0 19px !important; */
    margin: 19px 0;
  }
  .mb-cu .modal-dialogReply {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .grid-layout .grid-item {
    -ms-flex: 0 100%;
    -webkit-box-flex: 0;
    flex: 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 700px) {
  .container-big {
    width: 100%;
    max-width: 625px;
    padding: 0px !important;
  }
}
@media (min-width: 768px) {
  /* .grid {
      display: grid;
      grid-template-rows: 1fr 1fr;
    } */
  .title-header {
    line-height: 1.3;
    font-size: 24px;
  }

  .grid-layout .grid-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .container-layout {
    max-width: 720px;
    padding: 0 22px;
  }
  .container-big {
    /* max-width: 720px; */
    /* padding: 0 17px; */
    width: 100%;
  }
  .padding-column {
    /* padding: 0 22.5px !important; */
    margin: 20px 0;
  }

  .mt-customTop {
    margin-top: 35px !important;
  }
  .mb-custom__layout {
    margin-bottom: 22px !important;
  }
  .mb-custom__layout-tentang {
    margin-bottom: 16px !important;
  }
  .mt-custom__layout {
    margin-top: 22px !important;
  }

  .wrapper-support {
    margin-top: 31px;
  }
  .title-tribe {
    font-size: 24px;
    line-height: 140%;
  }
  .wrapper-socialMedia {
    margin-top: 18px;
  }

  .row {
    margin-right: -12px;
    margin-left: -12px;
  }
  .card-support {
    /* max-width: 350px; */
    max-width: 100%;
  }

  /* ORDERED LIST AND UNORDERED LIST */
  .card-description ul {
    padding-left: 0rem;
    list-style-position: disc outside !important;
    margin: 0 0 0 1.8em !important;
  }
}
/* iphone 12 landscape*/

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .container-big {
    padding: 0;
  }
}

@media only screen and (min-device-width: 393px) and (max-device-width: 786px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container-big {
    padding: 0;
  }
}
@media (max-width: 370px) {
  .select2-dropdown.navbar-dropdown {
    right: 0;
    left: 0 !important;
    top: 0.5rem;
  }
}
/* Content */
/* jumbotron */

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -9px;
  margin-left: -9px;
}

.mt-customGrid {
  margin-top: 14px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 18px;
  -moz-column-gap: 18px;
  column-gap: 18px;
  row-gap: 18px;
  -ms-grid-columns: 1fr 18px 1fr;
  grid-template-columns: 1fr 1fr;
}
.p-customGrid {
  padding: 0 9px 18px 9px;
}

/* .modal-dialog {
      margin: 0.5rem auto !important;
      padding: 0 20px;
    } */

@media (min-width: 992px) {
  .container-layout {
    max-width: 760px;
    margin: 33px auto;
    padding: 0 20px;
    /* margin-bottom: 5rem; */
  }
  .container-big {
    /* max-width: 960px; */
    width: 100%;
  }
  /* .grid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
    } */
  .grid-layout .grid-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    width: 33.333333%;
  }
}

.form-control:focus {
  border: 1px solid var(--green-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}

main .icon {
  background-color: black;
  color: white;
  min-height: 40px;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 14px;
  border: none;
  outline: none;
}
main .icon.active {
  background-color: #ff0000;
}

input {
  color: black !important ;
}

main a {
  text-decoration: underline;
}
/* section a {
  
  
  } */
.list a {
  color: #007aff !important;
  text-decoration: none;
}
.list a:hover {
  text-decoration: underline;
}
main a:hover,
main a:active,
main a:focus {
  color: #606060;
}

.icons-wrapper .flex-items {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  width: 33%;
  overflow: hidden;
  padding: 0.25rem;
  cursor: pointer;
}

.icons-wrapper .flex-items img {
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
}
/* ----------------------- */
/*Modal Choose this */
/* ----------------------- */

.wrapper-packageSupporte__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 5px;

  color: #000000;
}
.wrapper-packageSupporte__currency {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
}
.wrapper-packageSupporter {
  margin-bottom: 28px;
}

/* country flag choose this */
#select2-select2-font-results {
  font-size: 0.917rem;
}

.logout-section button,
.delete-account-section button {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
}

input[readonly] {
  background-color: var(--bg-gray) !important;
}

.form-group .select2 {
  position: relative;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding-right: 2.5rem;
}

.select2-container--default .select2-selection--single {
  border-radius: 6px !important;
}

.form-group .select-after {
  position: relative;
}

.form-group .select-after::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f107";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #959595;
  pointer-events: none;
  transition: transform 250ms ease;
}

.flag {
  position: relative;
}

.flag::before {
  content: "";
  border: 1px solid lightgray;
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 5px;
  width: 100%;
}

.flag.flag-np::before {
  top: 2px;
  bottom: 1px;
}

.form-group .select-after.rotate::after {
  transform: translateY(-50%) rotate(180deg);
}

.tel-pick-container {
  padding-left: 15px;
  display: flex;
  align-items: center;
  border: 1px solid #b8b8b8;
  position: relative;
  width: auto;
  margin-right: 10px;
  padding-right: 1.8rem;
  border-radius: 6px;
}

.tel-pick-container .value_result {
  white-space: nowrap;
  margin: 0 0.5rem;
}

.tel-pick-container
  .select2-container
  .select2-selection--single
  .select2-selection__rendered {
  margin-top: 0;
}

.tel-pick-container .arrow-icon {
  color: #c2c2c2;
  font-size: 0.667rem !important;
  /* margin-bottom: 20px; */
}

.select2-dropdown {
  min-width: 300px;
  border-radius: 6px !important;
}

.tel-pick-container .select-after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* .select2-container--default
    .navbar-dropdown
    .select2-results
    > .select2-results__options {
    font-size: 1rem;
  } */

.tel-input-container .form-control {
  width: 100% !important;
  width: 100%;
}

.tel-input-container {
  display: flex;
}

.tel-pick-container .select2-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.tel-pick-container .select2-container--default .select2-selection--single {
  border: none;
}

/* modal option */
.border-radius-10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}
.ml-14px {
  margin-left: 14px;
}
.mr-14px {
  margin-right: 14px;
}
.mb-15px {
  margin-bottom: 15px;
}
.text-mutedModal {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  text-align: center;

  color: #606060;
  margin-bottom: 18px;
}
.text-titleModal {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */

  margin-bottom: 8px;
  color: #000000;
}

.text-descModal {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
  margin-bottom: 10px;

  color: #000000;
}
.modal-dialogCustom {
  max-width: 440px;
}

#reorderDisplay .modal-body {
  padding: 0 20px;
}

.modal-reorder {
  padding: 0 !important;
}
.border {
  border: 1px solid #b8b8b8 !important;
}
.reorder {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */

  color: #000000;
}
