.App {
  text-align: center;
}

/* when user use background image please add this bg-image */
body {
  background-image: url("https://images.unsplash.com/photo-1536768139911-e290a59011e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/* for old browser safari */
body::after {
  content: "";
  position: fixed; /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh; /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1; /* needed to keep in the background */
  background: url("https://images.unsplash.com/photo-1536768139911-e290a59011e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80")
    center center;
  background-size: cover;
}
/*background image please add this class bg-image end */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(187, 182, 182, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(124, 124, 124, 0.8);
}
.text-white {
  color: white !important;
}
.bg-sky-500 {
  background-color: #0ea5e9 !important;
}
.bg-sky-600 {
  background-color: rgb(2 132 199) !important;
}
.bg-pink-600 {
  background-color: rgb(219 39 119) !important;
}
.bg-pink-700 {
  background-color: rgb(190 24 93) !important;
}
.bg-blue-600 {
  background-color: rgb(37 99 235) !important;
}
.bg-blue-700 {
  background-color: rgb(37 99 235) !important;
}

.bg-pink-500 {
  background-color: rgb(236 72 153) !important;
}
.bg-black {
  background-color: rgb(0, 0, 0) !important;
}

.bg-zinc-800 {
  background-color: rgb(39 39 42) !important;
}
.bg-teal-500 {
  background-color: rgb(20 184 166) !important;
}

.bg-teal-600 {
  background-color: rgb(13 148 136) !important;
}
.bg-emerald-500 {
  background-color: rgb(16 185 129) !important;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
